name: Job Scraper Bot

on:
  schedule:
    # Runs every hour at minute 0 (e.g., 1:00, 2:00, 3:00)
    - cron: '0 * * * *'
  # Allows you to run it manually from the Actions tab for testing
  workflow_dispatch:

jobs:
  scrape_and_notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Scraper
        env:
          # This pulls the secret you saved in Step 2
          DISCORD_WEBHOOK_URL_HERE: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          # Make sure the path matches where your file is!
          python worker/worker.py
